extends layout

block content
  #wrap
    form#request(method="POST")
      input#mail(type="text", name="mail", placeholder="email")
      button#submit 給我公報圖片
    p#why
      a(href="#", target="_blank") 為什麼需要您的協助？
  script(src="/js/jquery-1.7.2.min.js")
  script(src="/js/index.js")
