!!! 5
html
  head
    title "公報 OCR 小幫手"
    link(rel="stylesheet", href="http://necolas.github.com/normalize.css/2.1.0/normalize.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")
    //if lt IE 8
      link(rel="stylesheet", href="/css/font-awesome-ie7.min.css")
    link(rel="stylesheet", href="/css/screen.css")
  body
    block content
